# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.externalNativeBuild

# Ignore Android Studio project file
*.iml

# Ignore developer's machine-specific settings
local.properties
